# Render backend environment variables
DATABASE_URL=mysql://wCZM8EEXpdLsY5S.root:XYgxvr51JSKHiUgS@gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com:4000/se7enfit?sslaccept=strict
JWT_SECRET=fb77b90c187bb865bad56fdcb72c842faaed3ba5a9ed9ba892c7f77b268c2c200a1547a157dd1e27b4fa36c057b8614015e5fb595d733b3a687f80f0ec8d5e71
GOOGLE_WEB_CLIENT_ID=10666408411-4t6tm45luqqa1q8la40f8q44r5js1rik.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=10666408411-0iaj88pvijfgcl4it0cff6dm62326h1d.apps.googleusercontent.com
PORT=5000
NODE_ENV=production
ALLOWED_ORIGIN=https://se7enfit-original.onrender.com
